<%= form_tag('/login', method: :post, class: 'form-signin') do %>
  <img class="mb-4" src="roov_v.svg" alt="" width="144" height="144">
  <%= label_tag(:email, 'Email address', class: 'sr-only') %>
  <%= text_field_tag(:email, params[:email], placeholder: 'Email Address', class: 'form-control') %>
  <%= label_tag(:password, 'Password', class: 'sr-only') %>
  <%= password_field_tag(:password, params[:password], placeholder: 'Password', class: 'form-control') %>
  <div class="mb-3">
  </div>
  <%= submit_tag('ログイン', class:'btn btn-lg btn-primary btn-block') %>
  <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
<% end %>
